<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume-{{user_profile.name}}</title>
</head>
<body>
    <h2>{{user_profile.name}}</h2>
    <h2>{{user_profile.phone}}</h2>
    <hr/>
    <br/>
    <h3>Summary</h3>
    <p>{{user_profile.summary}}</p>
    <hr/>
    <h3>Education</h3>
    <li>schooling:{{user_profile.school}}</li>
    <li>{{user_profile.degree}}from{{user_profile.university}} </li>
    <hr/>
    <h3>Previous work</h3>
    <p>{{user_profile.previous_work}}</p>
    <br><br>
</ul>
</body>
</html>